/* 

Nombre de proyecto: Página personal
Autor: Fernando Fernández

Developed @ One Month (https://www.microsoft.cl)

*/

/* Cuerpo del HTML */

body {
    background: url("../images/laguna-mallplaza-oeste.jpg");

    /* 
		Lo siguiente es un código para hacer que la imágen se muestre como una 
	    página completa 
	*/
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;

    /*
		Las siguientes 3 líneas de código son "prefijos de navegador", que son 
		necesarios de incluir para las técnicas de CSS3 
	*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*
        Lo siguiente es una serie de técnicas para corregir el espaciado.
    */

    margin: 0px;
}

/* Textos */

@font-face {
    font-family: "Selawik";
    src: url("../fonts/winjs-symbols.woff2") format("woff2"),
        url("../fonts/winjs-symbols.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.dato-personal {
    margin-block-start: 0;
    margin-block-end: 0;

    padding-block-start: 0em;
    padding-block-end: 0.2em;
}

.nombre-personal {
    font-size: 80px;
    font-weight: bold;
}

a {
    color: #0078d4;
    text-decoration: none;
}

/* Clases especiales */

#contenedor {
    /* Tamaño */
    width: 424px;
    height: 100vh;

    /* Espaciado */
    border-radius: 0px;
    padding: 15px;

    margin-top: 0px;
    margin-left: 0px;

    /* Texto */
    font-family: "Selawik", "Roboto", sans-serif;
    color: rgba(45, 45, 45, 1);

    /* 
	    Parámetros tomados de https://copilot.microsoft.com/sl/h5SEkCX5mgu y 
		https://copilot.microsoft.com/sl/c97jl0KD7ee para 
	    aplicar un efecto de fondo simple al estilo de Fluent Design
	 */
    background-color: rgba(
        255,
        255,
        255,
        0.9
    ); /* Para ajustar color y opacidad */
    -webkit-backdrop-filter: blur(10px); /* Sintaxis para Safari */
    backdrop-filter: blur(10px); /* Sintaxis estandar */

    /* Efecto flotante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para aplicar profundidad */
}

.redes-sociales {
    margin: 8px;
}

.imagen-red-social {
    width: 32px;
    background-color: white;
    margin-left: 2px;
    padding: 5px;
    border-radius: 25%;
}
